
.vs/

ControleDespesas_ApiNetCore_Dapper/.vs/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Api/bin/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Api/obj/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Api/wwwroot/log
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Dominio/bin/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Dominio/obj/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Infra.Data/bin/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Infra.Data/obj/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Test/bin/
ControleDespesas_ApiNetCore_Dapper/ControleDespesas.Test/obj/

/ControleDespesas_ApiNetFramework48_Dapper/.vs/
/ControleDespesas_ApiNetFramework48_Dapper/ControleDespesas.Api/bin/
/ControleDespesas_ApiNetFramework48_Dapper/ControleDespesas.Api/obj/
/ControleDespesas_ApiNetFramework48_Dapper/ControleDespesas.Dominio/bin/
/ControleDespesas_ApiNetFramework48_Dapper/ControleDespesas.Dominio/obj/
/ControleDespesas_ApiNetFramework48_Dapper/ControleDespesas.Testes/bin/
/ControleDespesas_ApiNetFramework48_Dapper/ControleDespesas.Testes/obj/
