
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Api.deps.json
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Api.dll
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Api.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Api.runtimeconfig.dev.json
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Api.Views.dll
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Api.Views.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Dominio.dll
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Dominio.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.dll
ControleDespesas - Api .NetCore/ControleDespesas.Api/bin/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/ControleDespesas.Api.csproj.nuget.dgspec.json
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/ControleDespesas.Api.csproj.nuget.g.props
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/ControleDespesas.Api.csproj.nuget.g.targets
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.assets.cache
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.csproj.CoreCompileInputs.cache
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.csproj.FileListAbsolute.txt
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.csprojAssemblyReference.cache
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.dll
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.Views.dll
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.Views.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/Razor/Views/Docs/Index.cshtml.g.cs
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/project.assets.json
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/project.nuget.cache
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/bin/Debug/netcoreapp2.1/ControleDespesas.Dominio.dll
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/bin/Debug/netcoreapp2.1/ControleDespesas.Dominio.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/ControleDespesas.Dominio.csproj.nuget.dgspec.json
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/ControleDespesas.Dominio.csproj.nuget.g.props
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/ControleDespesas.Dominio.csproj.nuget.g.targets
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/Debug/netcoreapp2.1/ControleDespesas.Dominio.assets.cache
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/Debug/netcoreapp2.1/ControleDespesas.Dominio.csproj.CoreCompileInputs.cache
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/Debug/netcoreapp2.1/ControleDespesas.Dominio.csproj.FileListAbsolute.txt
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/Debug/netcoreapp2.1/ControleDespesas.Dominio.csprojAssemblyReference.cache
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/Debug/netcoreapp2.1/ControleDespesas.Dominio.dll
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/Debug/netcoreapp2.1/ControleDespesas.Dominio.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/project.assets.json
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/project.nuget.cache
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/bin/Debug/netcoreapp2.1/ControleDespesas.Dominio.dll
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/bin/Debug/netcoreapp2.1/ControleDespesas.Dominio.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/bin/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.deps.json
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/bin/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.dll
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/bin/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/ControleDespesas.Infra.Data.csproj.nuget.dgspec.json
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/ControleDespesas.Infra.Data.csproj.nuget.g.props
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/ControleDespesas.Infra.Data.csproj.nuget.g.targets
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.assets.cache
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.csproj.CoreCompileInputs.cache
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.csproj.FileListAbsolute.txt
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.csprojAssemblyReference.cache
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.dll
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/project.assets.json
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/project.nuget.cache
ControleDespesas - Api .NetCore/.vs/ControleDespesas/v16/.suo
ControleDespesas - Api .NetCore/.vs/ControleDespesas/v16/.suo
ControleDespesas - Api .NetCore/.vs/ControleDespesas/v16/TestStore/0/034.testlog
ControleDespesas - Api .NetCore/ControleDespesas.Api/obj/Debug/netcoreapp2.1/ControleDespesas.Api.csprojAssemblyReference.cache
ControleDespesas - Api .NetCore/ControleDespesas.Dominio/obj/Debug/netcoreapp2.1/ControleDespesas.Dominio.csproj.FileListAbsolute.txt
ControleDespesas - Api .NetCore/ControleDespesas.Infra.Data/obj/Debug/netcoreapp2.1/ControleDespesas.Infra.Data.csprojAssemblyReference.cache
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/Castle.Core.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/ControleDespesas.Dominio.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/ControleDespesas.Dominio.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/ControleDespesas.Testes.deps.json
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/ControleDespesas.Testes.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/ControleDespesas.Testes.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/LSCode.Facilitador.Api.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/LSCode.Validador.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/Moq.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/ControleDespesas.Testes.csproj.nuget.dgspec.json
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/ControleDespesas.Testes.csproj.nuget.g.props
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/Debug/netcoreapp3.1/ControleDespesas.Testes.assets.cache
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/Debug/netcoreapp3.1/ControleDespesas.Testes.csproj.CoreCompileInputs.cache
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/Debug/netcoreapp3.1/ControleDespesas.Testes.csproj.FileListAbsolute.txt
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/Debug/netcoreapp3.1/ControleDespesas.Testes.csprojAssemblyReference.cache
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/Debug/netcoreapp3.1/ControleDespesas.Testes.dll
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/Debug/netcoreapp3.1/ControleDespesas.Testes.pdb
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/project.assets.json
ControleDespesas - Api .NetCore/ControleDespesas.Testes/obj/project.nuget.cache
