<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.35" targetFramework="net48" />
  <package id="LSCode.Facilitador.Api" version="1.5.1" targetFramework="net48" />
  <package id="LSCode.Validador" version="1.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>